<div *ngIf="game | async">
  <h2>Game of Pool</h2>

  <form [formGroup]='shotSelection' (ngSubmit)="onSubmit()">
    <h3>Choose a ball</h3>
    <ul>
      <li *ngFor="let ball of game.table.balls">
        <div class="ball" [style.background-color]="ball.color">
          <p>{{ ball.number }} Ball</p>
          <input type="radio" name="ball" formControlName="ball" [value]="ball" />
        </div>
      </li>
    </ul>

    <h3>Choose a hole</h3>
      <ol>
        <li *ngFor="let hole of game.table.holes">
          <input
            class="hole"
            type="radio"
            name="hole"
            formControlName="hole"
            [value]="hole"
            />{{ hole.name }}: {{ hole.balls }}
        </li>
      </ol>

      <h3>Did it go in?</h3>
      <ul>
        <li>
          <div class="shotResult">
            <p>Yes</p>
            <input type="radio"
            name="shotResult"
            formControlName="shotResult"
            [value]="2"
            />
          </div>
        </li>
        <li>
          <div class="shotResult">
            <p>No</p>
            <input type="radio"
            name="shotResult"
            formControlName="shotResult"
            [value]="1"
            />
          </div>
        </li>
      </ul>

      <button type="submit" [disabled]="!shotSelection.valid">Submit</button>
  </form>

  <button (click)="printSelections()">Print Selections</button>
</div>
